
input, select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* Basic */

body {
    -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #242943;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

/* Type */

body, input, select, textarea {
    color: #ffffff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 17pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.65;
}

@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 14pt;
    }

}

@media screen and (max-width: 1280px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 360px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}

a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px;
    color: inherit;
    text-decoration: none;
}

a:hover {
    border-bottom-color: transparent;
    color: #9bf1ff !important;
}

a:active {
    color: #53e3fb !important;
}

strong, b {
    color: #ffffff;
    font-weight: 600;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.65;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    border-bottom: 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.35em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

@media screen and (max-width: 736px) {

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }

}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

blockquote {
    border-left: solid 4px rgba(212, 212, 255, 0.1);
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}

code {
    background: rgba(212, 212, 255, 0.035);
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

pre code {
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow-x: auto;
}

hr {
    border: 0;
    border-bottom: solid 1px rgba(212, 212, 255, 0.1);
    margin: 2em 0;
}

hr.major {
    margin: 3em 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

a:hover {
    border-bottom-color: transparent;
    color: #9bf1ff !important;
}

a:active {
    color: #53e3fb !important;
}

strong, b {
    color: #ffffff;
    font-weight: 600;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.65;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    border-bottom: 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.35em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}
.form-style-4{
    width: 450px;
    font-size: 16px;
    background: #495C70;
    padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=password],
.form-style-4 textarea,
.form-style-4 label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;

}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
.form-style-4 textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
    border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
    background: #394D61;
}


input[type="file"] {
    display: flex;
}

div.right {
    margin-left: 50%;

    display: flex;

    width: 25%;

}
.custom-file-upload {
    background-color: #993aff;
    border: 1px solid #000000;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius:6px;

}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

{
    border-color: #ff4d0d;
    box-shadow: none;
    outline: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


.banderoleCPNV{
    background-color: transparent;
    height: 120px;
    width: auto;
    margin: 0.5%;
}

.littleImage{
    border-radius:6px;
    width: 250px;
    height: 150px;
}

.headerBackground{
    background-color: lightgray;

    margin-right: auto;
    margin-bottom: 10%;

    border-radius:6px;

}
.bodyBackground{
    background-color: #af6dff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    border-radius:6px;
    width: 100%;

}

.bodyBackground1New{
    position: center;
    background-color: #232323;

    border-radius:6px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;




}



div.bodyBackground1{
    position: page;
    background-color: #000000;


    border-radius:6px;
    width: auto;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10%;
    height: 370px;
}


FORM.ol {counter-reset: repas;} /* on initialise et nomme un compteur */

.listeDetails2 {
    list-style-type: none;
    counter-increment: repas; /* on incrémente le compteur à chaque nouveau li */
    margin-bottom: 10px;
}
.listeDetails {
    padding :4px;
    margin-left: 5%;
    vertical-align: top;
    background: #222221;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    color: white;
}



.header{
    background-color: rgba(43, 43, 43, 0.85);
    border-radius:6px;
    margin-left: auto;
    margin-right: auto;
}

#photoPersonne{
    position: center;
    clear:right;
    border:1px solid #ee1eb5;
    margin-top: 3%;
    border-radius:6px;
    height: auto;
    width: 350px;
    margin-right: 5%;
    margin-bottom: 10%;
}


.liste{
    position: relative;
    margin-bottom: 10px;
    float: right;
}
.ButtonMenu {
    box-shadow:inset 0px 0px 0px 0px #77b2ff;
    background:linear-gradient(to bottom, #6297ff 5%, #4355ee 100%);
    background-color: #77b2ff;
    border-radius:6px;
    border:1px solid #000000;
    margin-left: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    color:black;
    font-size: 15px;
    font-weight:bold;
    padding:15px 24px;
    text-decoration:none;
    text-shadow:0px 0px 0px #23005b;
}
.ButtonMenuSecond {
    box-shadow:inset 0px 0px 0px 0px #993aff;
    background:linear-gradient(to bottom, #a0ffa8 5%, #1bff1c 100%);
    background-color: #993aff;
    border-radius:6px;
    border:1px solid #000000;
    margin-left: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    color:black;
    font-size: 15px;
    font-weight:bold;
    padding:15px 24px;
    text-decoration:none;
    text-shadow:0px 0px 0px #23005b;
}

.ButtonMenu2 {
    box-shadow:inset 0px 1px 0px 0px #7dabdb;
    background:linear-gradient(to bottom, #77b2ff 5%, #7dabdb 100%);
    background-color: #7dabdb;
    border-radius:6px;
    border:1px solid #23005b;
    display:inline-block;
    cursor:pointer;
    color:white;
    font-family:Arial;
    margin-left: 1%;
    font-size:15px;
    font-weight:bold;
    padding:15px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #6297ff;
}
.ButtonMenu:hover {
    background:linear-gradient(to bottom, #23005b 5%, #781bee 100%);
    background-color: #a059ff;
}
.ButtonMenu:active {
    position:relative;
    top:1px;
}
.ButtonMenuSecond:hover {
    background:linear-gradient(to bottom, #23005b 5%, #781bee 100%);
    background-color: #a059ff;
}
.ButtonMenuSecond:active {
    position:relative;
    top:1px;
}
.ButtonMenu2:hover {
    background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
    background-color:#ef027d;
}
.ButtonMenu2:active {
    position:relative;
    top:1px;
}


.cffButton2 {
    box-shadow:inset 0px 0px 0px 0px black;
    background:linear-gradient(to bottom,darkred 100%);
    background-color: #00ff25;
    border-radius:6px;
    border:3px solid black;

    cursor:pointer;
    color:white;
    font-family:Arial;

    font-size:10px;
    font-weight:bold;
    padding:10px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px black;
}

.buton{

}
.cffButton {
    box-shadow:inset 0px 0px 0px 0px #f29c93;
    background:linear-gradient(to bottom, #1bff1c 5%, #1bff1c 100%);
    background-color: #1bff1c;
    border-radius:6px;
    border:1px solid #000000;
    display: inline-block;
    alignment: right;
    margin-left: 45%;
    cursor:pointer;
    color: #000000;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 0px 0px #b23e35;
}

.cffButton:hover {
    background:linear-gradient(to bottom, #ce00c2 5%, #ce00c2 100%);
    background-color: #ce00c2;
}

.cffButton:active {
    position:relative;
    top:1px;
}


.title{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.title1 {
    background-color: #686867;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;

}

.titlelv1{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-left: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.tableDetail{
    width: 100%;
    margin-left: 5%;
    position: sticky;
}
.footer {
    position: fixed;
    left: 5px;
    bottom: 0;
    width: 50%;
    background-color: grey;
    color: white;
    text-align: center;
    margin-left: 5px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: 'Poppins', sans-serif;
}

.search-text{
    border-radius: 6px;
    background-color:#7dabdb;
    padding-top:11px;
    margin-top: 5px;
    padding-bottom:5px;
}

.search-text .input-search{
    height:20px;
    width:200px;
    padding-left:20px;
    color:#333;
}

.search-text .btn-search{
    background-color: #7dabdb;
    border:2px solid #FFF;
    color:#FFF;
    margin-top: 5px;
    padding: 11px 15px;
}

.search-text  .btn-search:hover{
    background-color:#FFF;

    color:#7dabdb;
}

.copyright{
    border-radius: 6px;
    background-color:#f0f0f0;
    margin-bottom: 5px;
    font-size: 12px;
}

.copyright p{
    margin:5px ;
}

