body{
    margin-left:-0%;
    margin-top:0%;
    margin-right:-0%;
	background-color:#dddddd;
   }


   #web_link ,a {
   font-size:17px;
   left:120px;
   color:white;
   text-decoration:none;
   }
   
   #web_link  {
   position:absolute;
   left:360px;
   top:42px;
   
   }
   

   #index_page_header{
    position:fixed;
   background-color:#085083;
   width:1280px; 
   height:90px;
   top:-21px;
   left:0px;
   }   
    
   
  #register_div{ 
  
   position:absolute;
   margin-top:4%;
   font-weight:bold;
   margin-left:390px;
   border:0px solid black;
   } 
   
   

	h1{
   color:white;
   
      }  

   
   .reg{
   border-radius:4px;
   border:0px;
   height:30px;
   width:299px; 
   height:30px;
 }
 
 #sum{
     background-color:blue;
	 color:#ccc;
	 border-radius:4px;
     border:0px;
	 width:99px;
	 height:35px;
	 
 }
 
 #sum:hover{
     background-color:red;
 }
 
 #lod{
     background-color:blue;
	 color:#ccc;
	 border-radius:4px;
     border:0px;
	 width:59px;
	 height:29px;
 }
 
 #lod:hover{
     background-color:green;
	}


#button_style1{

 position:relative;
 background-color:green;
color:white;
border-radius:4px;
 border:px;
 width:99px;
 height:39px; 
   top:5px;
   left:40px;
   }
	
	
