/*
 * intense-image-viewer
 *
 * MIT licensed
 * Copyright (C) 2013 Tim Holman, http://tholman.com
 */
/*********************************************
 *
 *********************************************/
* {
  -webkit-font-smoothing: antialiased;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-family: "Ubuntu Mono", monospace;
  height: 100%;
  width: 100%; }

body {min-width: 700px; }

.demos {
  text-align: center;
  margin-top: 20px; }

.demo-image {
  cursor: url("../img/plus_cursor.png") 25 25, pointer;
  display: inline-block;
  width: 290px;
  height: 290px;
  background-size: cover;
  background-position: 50% 50%;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px; }
  .demo-image.first {
    background-image: url("../img/h1_small.jpg"); }
  .demo-image.second {
    background-position: 50% 10%;
    background-image: url("../img/v1_small.jpg"); }
  .demo-image.third {
    background-image: url("../img/h2_small.jpg"); }